<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="../static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="../static/fonts/feather/style.css">

	<link rel="stylesheet" href="../static/css/tiny-slider.css">
	<link rel="stylesheet" href="../static/css/aos.css">
	<link rel="stylesheet" href="../static/css/glightbox.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<title>Армянский текст русской поэзии &mdash; логин.</title>
</head>

<body>

<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

    <script>
    function fart()
    {
        var un = document.forms["form"]["username"].value;
        var pw = document.forms["form"]["password"].value;
        if(un=="eagle1" && pw=="programmerihardlyknowher")
        {window.location.href = "admin.html";}
        else
        {alert("Неправильный пароль/логин!")}
    }
    </script>
      <main id="main-holder">
        <h1 id="login-header">Login</h1>

        <form name="form" method="post">
          <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
          <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
          <input type="button" value="Login" id="login-form-submit" onclick="fart()">
        </form>

      </main>
</body>
</html>