<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="../static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="../static/fonts/feather/style.css">

	<link rel="stylesheet" href="../static/css/tiny-slider.css">
	<link rel="stylesheet" href="../static/css/aos.css">
	<link rel="stylesheet" href="../static/css/glightbox.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<title>Армянский текст русской поэзии &mdash; главная страница.</title>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="index.html" class="logo m-0">Армянский текст русской поэзии</a>
				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li class="has-children">
						<a href="index.html">Главная страница</a>
						<ul class="dropdown">
							<li><a href="about.html">О нас</a></li>
                            <li><a href="news.html">Новости проекта</a></li>
						</ul>
					</li>
					<li><a href="/search">Корпус</a></li>
					<li class="has-children">
						<a href=#>Словари и указатели</a>
						<ul class="dropdown">
							<li><a href="frequencies.html">Частотный словарь</a></li>
                            <li><a href="onyms.html">Словарь онимов</a></li>
                            <li><a href="lexical_combinations.html">Лексические комбинации</a></li>
                            <li><a href="obrazy.html">Указатель образова</a></li>
						</ul>
					</li>
					<li><a href="visual_analysis.html">Визуальный анализ</a></li>
					<li><a href="bibliography.html">Библиография</a></li>
				</ul>
				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

    <div class="hero v-h-full overlay">
		<div class="img-bg rellax">
			<img src="../static/images/rocks_about.jpg" alt="Фото каменной кладки" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center v-h-full">
				<div class="col-lg-7 col-xxl-6 mx-auto text-center">
					<h1 class="heading-2 text-white mb-3" data-aos="fade-up">Наши новостиЖ</h1>
				</div>
			</div>
		</div>
	</div>

    <div class="section bg-light">
		<div class="container">
            <div class="row">
                <div class="col-lg-12 pe-lg-5" data-aos="fade-up">
                    <p class="text-body mb-5">Студенты филологического факультета СмолГУ под научным руководством профессор Л.В. Павловой продолжают научные исследования, связанные с проблематикой проекта «“Армянский текст русской поэзии”: репрезентация локального текста русской литературы».21 апреля 2023 года в научной студенческой конференции кафедры литературы и журналистики СмолГУ «Золото и серебро русской литературы» с докладом «Образ солнца в армянском тексте русской литературы» выступила участница проекта А.Н. Цубанова (4 к.).
22 апреля 2023 года в рамках 71–ой студенческой научной конференции СмолГу студенты 1 курса свои доклады прочитали П.С. Афонасьева («Самоцветные характеристики в образе человека (на материале стихотворений русских поэтов об Армении») и О.Ю. Ильина «Храмы Армении в стихах русских поэтов».
</p>
                </div>
            </div>
		</div>
	</div>

    <div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="widget">
						<h3>Связаться с нами</h3>
						<ul class="list-unstyled links">
							<li><a href="https://t.me/theodeivi">По вопросам работы сайта и корпуса</a></li>
							<li><a href="">По другим вопросам, связанным с проектом</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 --><!-- /.col-lg-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-footer -->


	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/tiny-slider.js"></script>
	<script src="../static/js/aos.js"></script>
	<script src="../static/js/navbar.js"></script>
	<script src="../static/js/glightbox.min.js"></script>
	<script src="../static/js/rellax.min.js"></script>
	<script src="../static/js/custom.js"></script>

</body>
</html>